* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* pink gradiant down */
    background: linear-gradient(0deg, #FFC0CB, #FF69B4);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.teamo {
    font-size: 50px;
    margin: 1rem;
}

#title {
    font-size: 7rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
    font-family: "Lovers Quarrel", cursive;
}

#loco {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
}

.love-mesaje {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
}

button {
    background-color: #FF69B4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 3rem;
    text-shadow: 1px 2px 3px rgb(4, 0, 255);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;

}

button:hover {
    background-color: #0056b3;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.alert-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: auto;
    text-align: center;
    margin: 20px;
}

.alert-box h2 {
    display: flex;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    color: #007bff;
    text-shadow: 1px 2px 3px #000;
}

.alert-box p {

    font-size: 3rem;
    margin: 0;

    text-align: center;
    color: #ff00c8;
    text-shadow: 1px 1px 1px#000000;

}

.alert-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 3rem;
    margin-top: 10px;
}